<!DOCTYPE HTML>
<html>
<head>

	<title>Home Page</title>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>

</style>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<ul>
<!-- <li ng-repeat="list in students | filter: 'W'">{{list}}</li>
 --><li ng-repeat="list in students | orderBy: 'sname'">{{list.sname + " " + list.section}}</li>

</ul>
</div>

<script>

/*var app = angular.module('myApp',[]);
app.controller('myCtrl',function($scope){
	$scope.students=['Hassan','Wali','Aman','Wajiha'];
	

});*/

var app = angular.module('myApp',[]);
app.controller('myCtrl',function($scope){
	$scope.students=[
     {sname:'Hassan',section: '10A'},
     {sname:'Wali',section: '10A'},
     {sname:'Aman',section: '9A'},
     {sname:'Babu',section: '8A'},


	];
	

});
</script>
	</body>
	</html>